---
layout: en/default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId={{ site.facebook.app_id }}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="front-banner" class="jumbotron en" style="background-image: url('/assets/images/banners/{{ site.data.front.banner.bg-image }}'); background-position: cover;">
  <div class="container">
    {% if site.data.front.en.banner.title %}
    <h1 class="display-4"><span class="bg-warning">{{ site.data.front.en.banner.title }}</span></h1>
    {% endif %}
    <ul class="list-unstyled">
      {% if site.data.front.en.banner.when %}<li><span class="bg-warning lead">{{ site.data.front.en.banner.when }}</span></li>{% endif %}
      {% if site.data.front.en.banner.where %}<li><span class="bg-warning lead">{{ site.data.front.en.banner.where }}</span></li>{% endif %}
    </ul>
    {% if site.data.front.en.banner.description %}
    <p>{{ site.data.front.en.banner.description }}</p>
    {% endif %}
    {% if site.data.front.en.banner.ticket %}
    <p class="lead">
      <a class="btn btn-success btn-lg" href="{{ site.data.front.en.banner.ticket }}" role="button">Ticket</a>
    </p>
    {% endif %}
  </div>
</div>

<div id="front-about" class="jumbotron bg-default">
  <div class="container">
    <div class="col-md-6">
      <h2 class="display-5">{{ site.en.name }}</h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <p><a class="btn btn-success" href="/en/about/" role="button"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;&nbsp;more</a></p>
        </li>
        <li class="list-inline-item">
          <p><a class="btn" href="{{ site.facebook.publisher }}" target="_blank" style="background: rgb(66, 103, 178); color: #fff;"><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp;facebook page</a></p>
        </li>
      </ul>
      <div class="fb-like" data-href="https://www.facebook.com/visualtheaterccot" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    </p>
    </div>
    <div class="col-md-6">
      <p class="lead">
        {{ site.data.front.en.introduction | newline_to_br }}
      </p>
    </div>
  </div>
</div>

<div id="front-works" class="jumbotron bg-warning">
  <div class="container">
    <h2 class="text-center m-b-2"><a href="/en/works/" class="bg-warning">Works</a></h2>
    <div class="row">
      {% assign works = site.en_works | sort:"wid" | reverse %}
      {% for work in works limit:3 %}
      {% assign featured_image = 'http://placehold.it/400x225' %}
      {% if work.featured_image %}
        {% assign featured_image = '/assets/images/work/' | append: work.img | append: '/' | append: work.featured_image %}
      {% endif %}
      <div class="col-md-4">
        <a href="{{ work.id }}"><img class="img-responsive" src="{{ featured_image }}" alt="{{ work.title }}"></a>
        <h4 class="card-title"><a href="{{ work.id }}">{{ work.title }}</a></h4>
        <p class="card-text text-muted">{{ work.description }}</p>
        <a href="{{ work.id }}" class="btn btn-success">more</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
