---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=1405054873155794";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">현재 공연 배너</h1>
    <p class="lead">시간 장소 소개</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">자세히 보기</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <a href="/works"><img class="card-img-top img-fluid" src="{{ site.data.front.work.image }}" alt="Card image cap"></a>
        <div class="card-block">
          <h2 class="card-title">작품 - {{ site.data.front.work.title }}</h2>
          <p class="card-text">
            {{ site.data.front.work.description }}
          </p>
          <a href="/works" class="btn btn-primary">더 알아보기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a href="http://ccotbbat.com/program"><img class="card-img-top img-fluid" src="{{ site.data.front.course.image }}" alt="Card image cap"></a>
        <div class="card-block">
          <h2 class="card-title">교육 - 꽃밭</h2>
          <p class="card-text">{{ site.data.front.course.description }}</p>
          <a href="http://ccotbbat.com/program" class="btn btn-primary">더 알아보기</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a href="/about"><img class="card-img-top img-fluid" src="{{ site.data.front.about.image }}" alt="Card image cap"></a>
        <div class="card-block">
          <h2 class="card-title">비주얼씨어터컴퍼니 꽃</h2>
          <p class="card-text">{{ site.data.front.about.description }}</p>
          <a href="/about" class="btn btn-primary">더 알아보기</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-columns m-t-2">
  {% for feed in site.data.page-feeds.data %}
    <div class="card">
      {% if feed.full_picture %}
      <a href="{{ feed.permalink_url }}" target="_blank"><img class="card-img-top img-fluid" src="{{ feed.full_picture }}" alt="Card image cap"></a>
      {% endif %}
      <div class="card-block">
        <p class="card-text"><a href="{{ feed.permalink_url }}" class="text-muted" target="_blank">{{ feed.message }}</a></p>
      </div>
    </div>
  {% endfor %}
  </div>

</div>
