{% assign repository = site.github.public_repositories | where: "full_name", site.repository %}
{% assign repo = repository[0] %}
{% capture edit_prose %}http://prose.io/#{{ repo.full_name }}/edit/{{ repo.default_branch }}/{{ page.path }}{% endcapture %}

<div class="footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <span>Copyright {{ 'now' | date: "%Y" }} © Visual theater Company, 꽃. All rights reserved.</span>
      </div>
      <div class="col-md-3">
        <ul class="list-inline pull-right">
          <li><a href="{{ edit_prose }}"><i class="fa fa-pencil-square-o fa-3x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
