---
layout: en/default
---

<div class="jumbotron">
  <div class="container">
    <h1 class="display-6">{{ site.en.name }}</h1>
    <div class="row">
      <div class="col-lg-6 clearfix">
        <p>
        '{{ site.en.name }}'(is a 'flower' in Korean) is the troupe of performers, painters and musicians.<br>
        '{{ site.en.name }}' has worked on alternative spaces and outdoor, exploring the depths of life through integrating the mediums of poetry, painting, installation art, and video art.
        </p>
      </div>
      <div class="clearfix col-lg-12">
        <ul id="download" class="list-inline">
          <li class="list-inline-item">
            <p><a class="btn btn-warning" href="/assets/files/programs.pdf">
              <i class="fa fa-download" aria-hidden="true"></i> Program book
            </a></p>
          </li>
          <li class="list-inline-item">
            <p><a class="btn btn-warning" href="/assets/files/en/artist_profile_en.pdf">
              <i class="fa fa-download" aria-hidden="true"></i> Artist profile
            </a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container about">
  <div class="col-lg-8 about-content">
    {{ content }}
  </div>
  <div class="col-lg-3 col-lg-offset-1 about-sidebar">
    <div class="sidebar-module">
      <ol class="list-unstyled">
        {% for item in site.data.about-nav-en %}
        <li>
          <h4{% if page.url == item.url %} class="text-muted"{% endif %}>{% if page.url != item.url %}<a href="{{ item.url }}">{% endif %}{{ item.title }}{% if page.url != item.url %}</a>{% endif %}</h4>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
