---
layout: en/default
---

<div class="jumbotron work" style="background-image: url('/assets/images/work/{{ page.img }}/{{ page.featured_image }}');">
  <div class="container">
    <h1 class="display-4"><span class="bg-info text-primary">{{ page.title }}</span></h1>
  </div>
</div>

<div class="container">
  <div class="col-lg-8 about-content">
    {{ content }}

    <h2 class="m-t-2">Video</h2>
    {% if page.video %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ page.video }}" allowfullscreen></iframe>
      </div>
    {% endif %}

    <h2 class="m-t-2">Pictures</h2>
    {% for file in site.static_files %}
      {% assign work_image_directory = '/assets/images/work/' | append: page.img %}
      {% if file.path contains work_image_directory %}
      <p class="m-y-2"><img src="{{ file.path }}" alt="" class="img-fluid center-block" /></p>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-lg-3 col-lg-offset-1 about-sidebar">
    <div class="sidebar-module">
      <ol id="work-meta" class="list-unstyled">
        {% if page.c_year %}<li>Creation year: {{ page.c_year }}</li>{% endif %}
        {% if page.type %}<li>Type: {{ page.type }}</li>{% endif %}
        {% if page.creator %}<li>Creator: {{ page.creator }}</li>{% endif %}
        {% if page.performer %}<li>Performer: {{ page.performer }}</li>{% endif %}
        {% if page.music %}<li>Music: {{ page.music }}</li>{% endif %}
        {% if page.installation %}<li>Installation: {{ page.installation }}</li>{% endif %}
        {% if page.assistant_director %}<li>Assistant director: {{ page.assistant_director }}</li>{% endif %}
        {% if page.r_time %}<li>Running time : {{ page.r_time }} 분</li>{% endif %}
        {% if page.objet %}<li>Materials : {{ page.objet }}</li>{% endif %}
        {% if page.doc %}<li><p><a href="{{ page.doc }}" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i> Documents</a></p></li>{% endif %}
      </ol>
    </div>
  </div>
</div>
