img { border:0 }
body, td, p, input, button, textarea, select, .c1 { font-family:verdana,굴림; font-size:9pt; color:#565656;}
.bo_line{width:3px; height:1px; background-image:url("./img/dot_line.gif"); }

.b_tit {font-family:Tahoma,굴림,arial; color:#666666; font-weight:bold;} /*-- 게시판 타이틀 ---*/ 
.b_bg  {background-color:/*#ffffff*/#ffffff;} /*-- 타이블 제목배경 --*/

.b_tit2 {font-family:Tahoma,굴림,arial; color:#888888; font-weight:bold;} /*-- 글쓰기/뷰화면 제목글 ---*/
.b_bg2 {background-color:/*#ffffff*/#ffffff;} /*-- 쓰기 제목글 배경 --*/

.b_num {font-family:Tahoma,굴림,arial; color:#666666; font-size:12px;} /* --게시물번호 --*/
.b_co  {color:#666666; font-size:10px;}


/*-- 카테고리명 --*/
.b_ca  {font-family:Tahoma,굴림,arial; color:#666666; font-size:12px;}
a.b_ca:link, a.b_ca:visited, a.b_ca:active {font-family:Tahoma,굴림,arial; color:#666666; font-size:12px;}
a.b_ca:hover {font-family:Tahoma,굴림, arial; color:#FF6600; font-size:12px; text-decoration:none;}

/*-- 게시물 리스트 글꼴 --*/
.b1  {font-family:Tahoma,굴림,arial; color:#666666; font-size:12px;}
a.b1:link, a.b1:visited, a.b1:active {font-family:Tahoma,굴림,arial; color:#666666; font-size:12px;}
a.b1:hover {font-family:Tahoma,굴림, arial; color:#FF6600; font-size:12px; text-decoration:underline;}

/*---- 게시물 {날짜,조회,추천,비추천등등} 글꼴 --*/
.b2  {font-family:Tahoma,굴림,arial; color:#666666; font-size:11px;}
a.b2:link, a.b2:visited, a.b2:active {font-family:Tahoma,굴림,arial; color:#666666; font-size:15px; text-decoration:none;}
a.b2:hover {font-family:Tahoma,굴림, arial; color:#FF6600; font-size:11px; text-decoration:none;}


/*---- 뷰화면 본문글 --*/
.lh { line-height: 150%; }
.ct { font-family: Verdana, 굴림; color:#424E10; } 

/*---- 뷰화면 {파일,링크,조회수등등} 글꼴  --*/
.v1  {font-family:Tahoma,굴림,arial; color:#666666; font-size:11px; font-weight:bold}
a.v1:link, a.v1:visited, a.v1:active {font-family:Tahoma,굴림,arial; color:#666666; font-size:11px; text-decoration:none;}
a.v1:hover {font-family:Tahoma,굴림, arial; color:#FF6600; font-size:11px; text-decoration:none;}

.v2  {font-family:Tahoma,굴림,arial; color:#666666; font-size:11px;}
a.v2:link, a.v2:visited, a.v2:active {font-family:Tahoma,굴림,arial; color:#666666; font-size:11px; text-decoration:none;}
a.v2:hover {font-family:Tahoma,굴림, arial; color:#FF6600; font-size:11px; text-decoration:none;}


/*--- 회원/비회원 이름 --*/
.member {font-family:Tahoma,굴림,arial; font-weight:bold; color:#888888}
.guest  {font-family:Tahoma,굴림,arial; font-weight:normal; color:#888888 }

/*  폼관련 태그 */
.ed { border:1px solid #CCCCCC; background-color:#f9f9f9; height:20px; } 
.tx { border:1px solid #CCCCCC; background-color:#f9f9f9; } 
.co { border:1px solid #CCCCCC; background-color:#ffffff; } /*--코멘트 입력박스--*/
