---
---
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import "variables";
@import "bootstrap/bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  position: relative;
  background-position: center center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.card a {
  text-decoration: none;
  &:hover {
    color: $gray-light;
  }
}

#front-banner {
  padding: 80px 32px;
  margin-bottom: 0;
  background-image: url('/assets/images/banners/{{ site.data.front.banner.bg-image }}');
}

{% if site.data.front.en.banner %}
#front-banner.en {
  background-image: url('/assets/images/banners/{{ site.data.front.en.banner.bg-image }}');
}
{% endif %}

#front-about,
#front-works {
  margin-bottom: 0;
  padding: 32px inherit;
}

.container.about,
.container.work,
.container.text {
  margin-bottom: 16rem;
}
