---
---
@import "variables";
@import "bootstrap/bootstrap";

.wf-loading *,
.wf-inactive * {
  font-family: Arial, Helvetica, sans-serif;
}

:lang(en).wf-active * {
  font-family: 'Noto Sans KR', 'Malgun Gothic';
}

:lang(en).wf-active * {
  font-family: 'Roboto';
}

:lang(ko).wf-active .fa,
:lang(en).wf-active .fa {
  font-family: 'FontAwesome';
}

.jumbotron {
  position: relative;
  background-position: center center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.front .jumbotron {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
  padding-top: 5px;
  .navbar-brand {
    color: #fff;
    font-size: 160%;
  }
  .nav-link {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    font-size: 110%;
    margin-top: 5px;
    color: $gray-lighter;
    &:hover {
      background: transparent;
      color: #fff;
      font-weight: 900;
    }
  }
  .nav-item.active .nav-link {
    color: #fff;
    font-weight: 900;
  }
  .navbar-right {
    padding-left: .5em;
  }
}

.footer {
  padding: 15px 0;
}

.front {
  #front-banner {
    margin-bottom: 0;
    .bg-warning {
      display: inline-block;
      padding: 5px;
    }
    .container {
      padding-right: 10%;
    }
    .carousel-inner {
      .item {
        width: 100%;
        height: 520px;
        text-align: right;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center !important;
        padding-top: 5rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &.en {
      .container {
        height: 520px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  #front-about,
  #front-works {
    margin-bottom: 0;
    padding: 32px inherit;
  }

  #front-about p.lead {
    font-size: 21px !important;
    line-height: 1.6;
  }

  #front-works p.card-text {
    font-size: 18px;
  }

  #front-ccotbbat {
    h2 {
      margin-top: 12px;
    }
    .lead.desc {
      margin-top: 30px;
      line-height: 1.6;
    }
  }

  .col-md-6, .col-md-4 {
    margin-bottom: 30px;
    overflow: hidden;
  }

  .edit-link {
    i {
      visibility: hidden;
    }
    a {
      display: inline-block;
      width: 55px;
      height: 55px;
      &:hover {
        i {
          visibility: visible;
        }
      }
    }
  }
}

.container.about,
.container.work,
.container.text {
  margin-bottom: 16rem;
  img {
    max-width: 100%;
  }
}

.works {
  .col-md-4 {
    min-height: 380px;
    margin-bottom: 15px;
  }
}

.en.works .col-md-4 {
  min-height: 440px;
}

.icon-bar {
  background-color: #fff;
}

.work.masseur {
  .jumbotron {
    padding: 150px 0;
  }
}
