---
---
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import "variables";
@import "bootstrap/bootstrap";

.jumbotron {
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0;
}

.card a {
  text-decoration: none;
  &:hover {
    color: $gray-light;
  }
}

#front-banner {
  padding: 80px 32px;
  margin-bottom: 0;
}

#front-about,
#front-works {
  margin-bottom: 0;
  padding: 32px inherit;
}
