---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1 class="display-6">삶의 물결위에 던지는 다채로운 시각적 실험!</h1>
    <p>극단 꽃은 2000년 이스라엘에서 창단되어 2004년부터 국내에서 활동해온 Visual theater company입니다.<br>
    시각예술과 공연예술을 혼합한 새로운 형식과 내밀한 예술적 세련미! 공연사업과 교육프로그램을 운영합니다.</p>
    <ul id="download" class="list-inline">
      <li class="list-inline-item"><a class="btn btn-info" href="/assets/files/introduction.zip"><i class="fa fa-download" aria-hidden="true"></i> 극단 소개 자료</a></li>
      <li class="list-inline-item"><a class="btn btn-info" href="/assets/files/programs.pdf"><i class="fa fa-download" aria-hidden="true"></i> 프로그램북</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="col-lg-8 about-content">
    {{ content }}
  </div>
  <div class="col-lg-3 col-lg-offset-1 about-sidebar">
    <div class="sidebar-module">

      <ol class="list-unstyled">
        {% for item in site.data.about-nav %}
        <li>
          <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
          <p>{{ item.description | markdownify }}</p>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
